<div class="container">


  <h1>
    Drag & Drop image or file
  </h1>

  <label id="dnd-handler">

    <div class="image-preview">
      <img src="assets/images/pdf.png">
    </div>
    <input type="file" (change)="onFileSelect($event)" accept=".pdf|image/*">
    <div class="select-new-image-text">
      <div *ngFor="let file of selectedFiles">
        <a>{{file.name}}</a>
      </div>
    </div>
  </label>

  <button mat-raised-button color="primary" [disabled]="selectedFiles.length<1" (click)="startFTTInspector()">Start FTT Inspector</button>

</div>