<mat-toolbar>
  <span></span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button routerLink="../info">
    <mat-icon>info</mat-icon>
  </button>
</mat-toolbar>

<content>

  <section class="jumbotron">
    <h1>Datei zu Text</h1>
    <p>Mit File-To-Text können Sie ganz einfach den Text aus verschiedenen Dateitypen extrahieren, wie z.B. Bildern oder PDF Dateien. FTT nutzt moderne Technologien wie OCR und KI, um den Text der Dateien schnell und zuverlässig zu extrahieren.</p>
  </section>

  <div class="row upload-section">
    <div class="col-12 col-md-5 mt-5">
      <label id="dnd-handler">
        <div>
          <mat-icon class="mb-4">save_alt</mat-icon>
          <input type="file" (change)="onFileSelect($event)" accept=".pdf|image/*" id="upload-input">
          <div class="select-new-image-text">
            Wähle Dateien per Drag & Drop aus
            <br>
            <span class="data-privacy-hint">oder</span>
            <br>
            <button mat-raised-button class="upload-button" (click)="triggerUpload()">
              Dateien durchsuchen
            </button>
            <br>
            <span class="data-privacy-hint">Unterstützte Dateitypen: .pdf, .jpg, .jpeg, .png, .webp</span>
          </div>
        </div>
      </label>
    </div>
    <div class="col-12 col-md-5 mt-5">
      <h4>Ausgewählte Dateien</h4>
      <mat-list>
        <mat-list-item *ngIf="!selectedFiles || selectedFiles.length===0">
          <div mat-line class="data-privacy-hint">Bisher wurden noch keine Dateien ausgewählt</div>
        </mat-list-item>
        <mat-list-item *ngFor="let file of selectedFiles;  let i = index;">
          <mat-icon *ngIf="utilityService.isImage(file)" mat-list-icon class="image-icon">image</mat-icon>
          <mat-icon *ngIf="utilityService.isPDF(file)" mat-list-icon class="pdf-icon">picture_as_pdf</mat-icon>
          <div mat-line>{{file.name}}</div>
          <button mat-icon-button (click)="removeSelectedFile(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="col-12 col-md-2 mt-5">
      <button mat-raised-button color="primary" [disabled]="selectedFiles.length<1" (click)="startFTTInspector()" class="start-button">
        Start <mat-icon>chevron_right</mat-icon>
      </button>
    </div>

    <section class="privacy-section mt-3">
      <span *ngIf="!utilityService.isElectron()" class="data-privacy-hint">Wir übertragen keine ihrer ausgewählten Dateien an unsere Server. Die Berechnungen werden bei Ihnen lokal durchgeführt.</span>
    </section>

  </div>
</content>